body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}
p strong {
    color: red;
}

.itens {
    font-style: italic;

}
.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imgbeneficios {
    width: 50%;
}

